/* Typography */

html{
	font-family: 'Roboto', sans-serif;
}

.logo{
 /* height:80%;*/
  width:30%;
  margin-top:1%;
}

.homepage-hero h2 {
  margin-top:6%;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2.5rem;
  font-style: bold;
  font-weight: 900;

}
.homepage-hero h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3rem;
  font-style: ;
  font-weight: 400;
}
.homepage-hero h4{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;

}
@media only screen and (min-width: 641px) {

.homepage-hero h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 6rem;
  font-style: bold;
  font-weight: 900;

}
.homepage-hero h3{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 6rem;
  font-style: ;
  /*font-weight: 400;*/
}
.homepage-hero h4{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 4rem;
  font-style: italic;
  font-weight: 100;

}

.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li a{
  background:transparent;
  font-size: 1rem;
}

.divider{
  background: url("../img/divider.jpg") no-repeat center center; /*fixed for parallax*/ 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 50%;
  max-width: 50%;
  min-height: 50%;
  min-width: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  position:  relative; 
  color: white;
}
.divider h1{
  color: white;
  margin-top: 8%;
}
.higher{
  margin-top: 8%;
  margin-bottom: 8%;
  min-height: 20%;
}
.underlinetitle{
  border-bottom: 1px solid black;
}

}
.top-bar-section ul li > a{
  text-align: center;
}
/* End Typography */

.linkbutton{
  font-family: 'Roboto', sans-serif;
  color:white;
  background-color: rgb(33,150,243, 0.5);
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  border-radius: 30px; 
}


.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li a{
  background:transparent;
  font-size: 1rem;
  letter-spacing: 2px;
}

.gufohome{
  display: none;
}

}

.gufohome{
  width: 40%;
  position: absolute;
  margin-left: 60%;
}

.paddingintro{
  padding-top: 70px;
}

/* END changed foundation background pricing table titile */

.top-bar-section ul li > a{
}

.top-bar .name  a {
  font-family: 'Roboto', sans-serif;
	color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.row .example-orbit img {
  min-width: 100%;
  height: auto;
}

.orbit-slide-number{
	visibility: hidden;
}


::selection {
    color: #1278bf; 
    background: white;
}
::-moz-selection{ /* Code for Firefox */
    color: #1278bf; 
    background: white;
}

.row.orbit{
	min-width:100% !important;
}

.homepage-hero{
  background: url("../img/scrivania2.jpg") no-repeat center center; /*fixed for parallax*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  position:  relative; 
  @media #{$small-only} {
    background-position: center;
  }
}
@media only screen and (min-width: 641px) {
  .homepage-hero{
  background: url("../img/scrivania2.jpg") no-repeat center center; /*fixed for parallax*/ 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  position:  relative; 
}

li .name img{
  display: none;
}
.vocemenu{
   margin-top: 15%;
   border: 3px solid white;
}
.vocemenu:hover{
  background-color: rgba(33,150,243, 0.5) !important;

}
}
.footer{
  background: #2196f3;
  color: #fff;
}
.footer a{
  color: #fff;
}
.footer p{
  font-size: 2rem;
}
.vocemenu{
   margin-top: 20%;
   border-bottom: 3px solid white;
   border-top: 3px solid white;

}
.vocemenu:hover{
  background-color: rgba(33,150,243, 0.5) !important;
}




