/* Typography */

html{
	font-family: 'Roboto', sans-serif;
}


.homepage-hero h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2.5rem;
  font-style: bold;
  font-weight: 900;

}
.homepage-hero h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3rem;
  font-style: ;
  font-weight: 400;
}
.homepage-hero h4{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;

}
@media only screen and (min-width: 641px) {

.homepage-hero h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 6rem;
  font-style: bold;
  font-weight: 900;

}
.homepage-hero h3{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 6rem;
  font-style: ;
  /*font-weight: 400;*/
}
.homepage-hero h4{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 4rem;
  font-style: italic;
  font-weight: 100;

}

}

/* End Typography */

.linkbutton{
  font-family: 'Roboto', sans-serif;
  color:white;
  background-color: rgb(33,150,243, 0.5);
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  border-radius: 30px; 
}

/* START changed foundation background menu (hover and not)*/
.top-bar-section ul li:hover:not(.has-form) > a {
      background: transparent;   
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
	background: transparent;
}
      .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background:  transparent; }
      .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background: transparent; }

.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li a{
  background:transparent;
  font-size: 1rem;
  letter-spacing: 2px;
}


.top-bar .name  a {
  font-family: 'Roboto', sans-serif;
  padding-top: 10px; 
  margin-left: 40px;
  text-align: left !important;
  border-bottom: none !important;
  color: white !important;
  font-size: 2em;
}
.paddingintro{
  padding-top: 90px;
}

.gufohome{
  display: none;
}

}

.gufohome{
  width: 40%;
  position: absolute;
  margin-left: 60%;
}

.paddingintro{
  padding-top: 70px;
}

/* END changed foundation background pricing table titile */

.top-bar-section ul li > a{
}

.top-bar .name  a {
  font-family: 'Roboto', sans-serif;
	color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-bottom: solid 0.2rem #fff;
}
.row .example-orbit img {
  min-width: 100%;
  height: auto;
}

.orbit-slide-number{
	visibility: hidden;
}


::selection {
    color: #1278bf; 
    background: white;
}
::-moz-selection{ /* Code for Firefox */
    color: #1278bf; 
    background: white;
}

.row.orbit{
	min-width:100% !important;
}

.homepage-hero{
  background: url("../img/scrivania.jpg") no-repeat center center; /*fixed for parallax*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  position:  relative; 
  top: -50px;
  @media #{$small-only} {
    background-position: center;
  }
}
@media only screen and (min-width: 641px) {
  .homepage-hero{
  background: url("../img/scrivania.jpg") no-repeat center center; /*fixed for parallax*/ 
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  position:  relative; 
  top: -50px;
}

li .name img{
  display: none;
}
}
.footer{
  background: #2196f3;
  color: #fff;
}
.footer a{
  color: #fff;
}
.footer p{
  font-size: 2rem;
}



